@page "/afmelden"
@model Citizen_App_Server.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
</body>
</html>