@page "/"
@page "/MijnKluis/"
<h1>Mijn Kluis</h1>
<p>Beheer al uw persoonlijke gegevens op &eacute;&eacute;n centrale plek.</p>

<NldsDefinitionList>
    <NldsDefinitionListItem ShowHorizontal="true" Title="Mijn BSN">
        <Description>123456789</Description>
    </NldsDefinitionListItem>
</NldsDefinitionList>

@foreach (var kluisSection in KluisValues.Keys )
{
    if (!KluisValues[kluisSection]?.Any() ?? true)
    {
        continue;
    }
    <NldsCollapseWrapper>
        <NldsCollapse>
            <Title>@kluisSection</Title>
            <Content>
                <NldsCollapseContent>
                    <NldsDefinitionList>
                        @foreach (var mijnKluisElement in KluisValues[kluisSection].OrderBy(k => k.Order))
                        {
                            if (string.IsNullOrWhiteSpace(mijnKluisElement.Value))
                            {
                                continue;
                            }
                            <NldsDefinitionListItem ShowHorizontal="true" Title="@mijnKluisElement.Description">
                                <Description>@((MarkupString)mijnKluisElement.Value)</Description>
                            </NldsDefinitionListItem>
                        }
                    </NldsDefinitionList>
                </NldsCollapseContent>
            </Content>
        </NldsCollapse>
    </NldsCollapseWrapper>
}