@page "/"
@page "/MijnKluis/"
<h1>Mijn Kluis</h1>
<p>Beheer al uw persoonlijke gegevens op &eacute;&eacute;n centrale plek.</p>

<NldsDefinitionList>
    <NldsDefinitionListItem ShowHorizontal="true" Title="Mijn BSN">
        <Description>123456789</Description>
    </NldsDefinitionListItem>
</NldsDefinitionList>
<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Persoonsgegevens</Title>
        <Content>
            <NldsCollapseContent>
                <NldsDefinitionList>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="Naam">
                        <Description>Katja Jansen</Description>
                    </NldsDefinitionListItem>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="Geslacht">
                        <Description>Vrouw</Description>
                    </NldsDefinitionListItem>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="Geb. datum">
                        <Description>18-09-1981</Description>
                    </NldsDefinitionListItem>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="Adres">
                        <Description>Streetname 12</Description>
                        <Action><NldsDefinitionListAction LinkScreenReaderDescription="Information"><i class="icon icon-info"></i></NldsDefinitionListAction></Action>
                    </NldsDefinitionListItem>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="Postcode">
                        <Description>3066 AB</Description>
                    </NldsDefinitionListItem>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="...">
                        <Description>...</Description>
                    </NldsDefinitionListItem>
                </NldsDefinitionList>
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>

<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Werk en Inkomen</Title>
        <Content>
            <NldsCollapseContent>
                <NldsDefinitionList>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="...">
                        <Description>...</Description>
                    </NldsDefinitionListItem>
                </NldsDefinitionList>
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>

<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Auto en Vervoer</Title>
        <Content>
            <NldsCollapseContent>
                <NldsDefinitionList>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="...">
                        <Description>...</Description>
                    </NldsDefinitionListItem>
                </NldsDefinitionList>
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>

<NldsCollapseWrapper>
    <NldsCollapse>
        <Title>Eigen Woning</Title>
        <Content>
            <NldsCollapseContent>
                <NldsDefinitionList>
                    <NldsDefinitionListItem ShowHorizontal="true" Title="...">
                        <Description>...</Description>
                    </NldsDefinitionListItem>
                </NldsDefinitionList>
            </NldsCollapseContent>
        </Content>
    </NldsCollapse>
</NldsCollapseWrapper>