@page "/"
@page "/MijnKluis/"
<h1>Mijn Kluis</h1>
<p>Beheer al uw persoonlijke gegevens op &eacute;&eacute;n centrale plek.</p>

<NldsDefinitionList>
    <NldsDefinitionListItem ShowHorizontal="true" Title="Mijn BSN">
        <Description>123456789</Description>
    </NldsDefinitionListItem>
</NldsDefinitionList>

@foreach (var kluisSection in KluisValues.Keys )
{
    if (!KluisValues[kluisSection]?.Any() ?? true)
    {
        continue;
    }
    <NldsCollapseWrapper>
        <NldsCollapse>
            <Title>@kluisSection</Title>
            <Content>
                <NldsCollapseContent>
                    <NldsDefinitionList>
                        @foreach (var item in KluisValues[kluisSection])
                        {
                            <NldsDefinitionListItem ShowHorizontal="true" Title="@item.Key">
                                <Description>@((MarkupString)item.Value)</Description>
                            </NldsDefinitionListItem>
                        }
                    </NldsDefinitionList>
                </NldsCollapseContent>
            </Content>
        </NldsCollapse>
    </NldsCollapseWrapper>
}