<CascadingAuthenticationState>
   <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="new[] { typeof(Citizen_App_Components.Pages.MijnKluis).Assembly }">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Citizen_App_Components.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Citizen_App_Components.Shared.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
   </Router>
 </CascadingAuthenticationState>