@inherits LayoutComponentBase
<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>
<NldsNavigation Color="Color.DonkerBlauw">
    <NldsNavigationBlock>
        <NldsNavigationItem Uri="mijnzaken" Icon="Icon.Home" Title="Home">Mijn zaken</NldsNavigationItem>
        <NldsNavigationItem Uri="mijnkluis" Icon="Icon.Secure">Mijn Kluis</NldsNavigationItem>
        <NldsNavigationItem Uri="tijdlijn" Icon="Icon.List">Tijdlijn</NldsNavigationItem>
        <NldsNavigationItem Uri="vragen" Icon="Icon.Question">Vragen</NldsNavigationItem>
    </NldsNavigationBlock>
</NldsNavigation>
<main class="smain" id="content" tabindex="-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <div class="docs-section" id="grid">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
